* {
  margin-top: 0;
  font-family: "Roboto", sans-serif;
}

.weather-info {
  justify-content: center;
  text-align: center;
  margin-top: 2rem;
}

.time-info {
  margin-top: 0.7rem;
  letter-spacing: 0.5px;
  margin-bottom: 0;
}

.weather-container {
  /* margin: 3rem 1rem; */
  box-shadow: 1px 20px 20px 9px rgba(00, 00, 00, 0.5);
  padding: 1rem 2rem;
  border-radius: 20px;
  background-image: linear-gradient(
    to top,
    rgba(82, 101, 39, 0.7) 0%,
    rgba(96, 148, 195, 0.7) 100%
  );
  color: #eceff6;
  /* text-shadow: 0.5px 0.5px 0.5px #a7c5eb; */
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 1rem;
  display: block;
  max-width: 80%;
}

.pressure {
  margin-bottom: 0;
}

.fa-location-arrow {
  color: white;
}

#fahrenheit {
  color: white;
}

#celsius {
  color: white;
}
.fa-cloud-sun {
  margin-top: 1rem;
}

#clear {
  font-size: 1.5rem;
}

#wicon {
  width: 4rem;
  margin-top: 0;
}

.temperature {
  font-size: 3rem;
  color: #eceff6;
  text-shadow: 1px 1px 1px 1px grey;
  margin-top: 1.5rem;
}

::placeholder {
  color: #588ab3 !important;
}

body {
  background: url("https://images.unsplash.com/photo-1470071459604-3b5ec3a7fe05?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1140&q=80")
    no-repeat;
  background-size: cover;
  margin-top: 0;
  width: 100%;
  height: auto;
}

.humidity-info {
  text-align: center;
  margin-top: 1rem;
  /* font-weight: lighter; */
}

#search-button {
  color: #eceff6;
}

#city {
  margin-top: 3rem;
  font-size: 3rem;
  text-transform: capitalize;
}

.humidity {
  margin-bottom: 0;
}
.precipitation {
  margin-bottom: 0;
}
.wind {
  margin-bottom: 0;
}

/* week */

div .week {
  margin-top: 1rem;
  align-items: center;
  text-align: center;
  font-size: 1.8rem;
  color: #eceff6;
  /* text-shadow: 0.5px 0.5px 0.5px #a7c5eb; */
  size: 80%;
}

/* footer */
.footer,
.footer a {
  margin-top: 0;
  /* color: #eceff5; */
  color: #9ea051;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.footer a:hover {
  color: #202916;
}
