* {
  margin-top: 0;
}

.weather-info {
  justify-content: center;
  text-align: center;
  margin-top: 2rem;
}

.time-info {
  margin-top: 1rem;
}

.weather-container {
  /* margin: 3rem 1rem; */
  border: 1px solid #464c52;
  box-shadow: 2px 4px 4px rgba(00, 00, 00, 0.5);
  padding: 2rem;
  border-radius: 20px;
  /* background-color: rgba(255, 255,255, 0.2); */
  background-color: rgba(0, 0, 0, 0.2);
  color: #eceff6;
  text-shadow: 0.5px 0.5px 0.5px #a7c5eb;
  max-width: 80%;
  margin: 0 auto;
  margin-top: 1.3rem;
  margin-bottom: 1rem;
  display: block;
}
.pressure {
  margin-bottom: 0;
}

.fa-location-arrow {
  color: white;
}

#fahrenheit {
  color: white;
}

#celsius {
  color: white;
}
.fa-cloud-sun {
  margin-top: 1.5rem;
}

#clear {
  font-size: 1.5rem;
}

#wicon {
  width: 4rem;
}

.temperature {
  font-size: 3rem;
  color: #eceff6;
  text-shadow: 1px 1px 1px 1px grey;
  margin-top: 2rem;
}

body {
  background: url("https://images.unsplash.com/photo-1470071459604-3b5ec3a7fe05?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1140&q=80")
    no-repeat;
  background-size: cover;
  margin-top: 0;
  width: 100%;
  height: auto;
}

.humidity-info {
  text-align: center;
  margin-top: 1.5rem;
  font-weight: lighter;
}

#search-button {
  color: #eceff6;
}

#city {
  margin-top: 3rem;
  font-size: 3rem;
  text-transform: capitalize;
}

.humidity {
  margin-bottom: 0;
}
.precipitation {
  margin-bottom: 0;
}
.wind {
  margin-bottom: 0;
}

/* week */

div .week {
  margin-top: 2rem;
  align-items: center;
  text-align: center;
  font-size: 1.8rem;
  color: #eceff6;
  text-shadow: 0.5px 0.5px 0.5px #a7c5eb;
}

/* footer */
.footer,
.footer a {
  margin-top: 0;
  color: #eceff5;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.footer a:hover {
  color: black;
}
